:root {
    --orange: rgb(247, 89, 16);
    --orange-reverse: rgb(211, 73, 9);
    --green: rgb(35, 247, 16);
    --green-reverse: rgb(25, 168, 12);
}

@font-face {
    font-family: 'Noto sans';
    src: url(../fonts/NotoSans/NotoSans-Regular.ttf);
    /* src: url(../font/NotoSans/NotoSans-Black.ttf); */
    /* src: url(../font/NotoSans/NotoSans-Bold.ttf); */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto sans', sans-serif;
}

body {
    background: rgb(238, 237, 237);
}


/* Menu de navigation */

.hero {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(../img/ban.jpg);
    background-size: cover;
    background-position: center;
}

.hero nav .menu-toggle {
    border: none;
    color: var(--orange);
    background: transparent;
    border: 2px solid;
    border-color: var(--orange);
    padding: 10px;
    font-size: 26px;
    border-radius: 10px;
    display: none;
}


.hero nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 8% 0 8%;
}

.hero nav img.logo {
    width: 80px;
    height: 80px;
}

.hero nav ul {
    margin-bottom: 0;
}

.hero nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

.hero nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.hero nav ul li a:hover {
    color: var(--orange);
    border-bottom: 2px solid var(--orange);
    transition: 0.4s;
}

.hero nav .button {
    background: var(--orange);
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.hero nav .button:hover {
    transform: scale(1.2);
}

.hero .content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.hero .content h1 {
    color: #fff;
    margin: 20px 0 20px;
    font-size: 50px;
    text-transform: capitalize;
}

.hero .content h1 span {
    color: var(--green);
}

.hero .content h3 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 25px;
}

.hero .content a {
    background: var(--orange);
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: .4s ease;
}

.hero .content a:hover {
    background: transparent;
    border: 2px solid var(--orange);
}

.nav-mobile{
    position:fixed;
    top: 0;
    right: 0;
    width: 270px;
    height: 100vh;
    background: var(--orange-reverse);
    padding: 20px 0;
    z-index: 1000;
    /* display: none; */
}

.nav-mobile .btn-close-menu{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.nav-mobile .btn-close-menu button{
    border: none;
    background: transparent;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
}

.nav-mobile .menu-wrapper ul li{
    padding: 10px 15px;
    display: block;
    list-style: none;
    font-size: 18px;
    margin: 30px 0;
}

.nav-mobile .menu-wrapper ul li:hover{
    transition: .3s ease;
    background-color: rgb(253, 133, 77);
}

.nav-mobile .menu-wrapper ul li a{
    color: #fff;
    text-decoration: none;
}

@media (min-width:860px) {
    .nav-mobile{
        display: none;
    }
}

@media (max-width:860px) {

    .hero nav .button,
    .hero nav ul.menu-lg{
        display: none;
    }

    .hero nav .menu-toggle{
        display: block;
        cursor: pointer;
    }


    .nav-mobile{
        display: none;
    }
    .nav-mobile.active{
        display: block;
    }
}

@media (max-width:800px) {
    .about .main{
        display: block;
    }
}

@media (min-width:850px) {
    .loop #v1-loop {
        width: 100%;
        height: auto;
    }
    .service .box {
        display: flex;
    }
    
}

@media (max-width:850px) {

    .loop #v1-loop {
        width: 100%;
        height: 850px;
        object-fit: cover;
    }
    

    .service .box {
        display: block;
    }


}

/* A propos de zoe */

.about {
    width: 100%;
    padding: 100px 0;
    background-color: #fff;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .main img {
    height: auto;
    width: 430px;
}

.about .main .about-text {
    width: 550px;
}

.about .main .about-text h2 {
    color: var(--green);
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about .main .about-text h5 {
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.about .main .about-text h5 span:first-child {
    color: var(--orange-reverse);
}

.about .main .about-text h5 span:last-child {
    color: var(--green-reverse);
}

.about .main .about-text p {
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    color: rgba(37, 35, 35, 0.8);
}

.about .main .about-text a {
    background: var(--orange);
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: .4s;
}

.about .main .about-text a:hover {
    background: transparent;
    border: 2px solid var(--orange);
    color: rgba(37, 35, 35, 0.8);
}


/* loop */
.loop{
    position: relative;
    width: 100%;
    height: auto;
}
.loop #v1-loop {
    width: 100%;
    /* height: auto; */
}

/* Services */
.service {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* width: 100%;
    margin-top: 70px;
    background-color: #fff;
    padding: 50px 0; */
}

.service .title h2 {
    color: #fff;
    font-size: 50px;
    /* width: 1130px; */
    margin: 15px auto;
    text-align: center;
}

.service .box {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.service .box .card-box {
    height: 370px;
    width: 335px;
    padding: 20px 35px;
    background: rgb(192, 255, 187);
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.service .box .card-box i,
.service .box .card-box svg {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0;
    color: var(--orange);
}

.service .box .card-box h5 {
    color: #000;
    font-size: 23px;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-weight: bold;
}

.service .box .card-box .pra p {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
    color: rgb(37, 35, 35);
}

.service .box .card-box .pra .button {
    background: var(--orange);
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: transform .4s;
}

.service .box .card-box .pra .button:hover {
    background: transparent;
    border: 2px solid var(--orange);
    color: rgba(37, 35, 35, 0.8);
    cursor: pointer;
}


/* Nos destination */
section.destination{
    padding: 80px 30px;
    background-color: #fff;
}

.destination .title h2 {
    color: var(--green);
    font-size: 50px;
    /* width: 1130px; */
    margin: 15px auto;
    text-align: center;
}
.destination .destination-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(340px,auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
}

.destination .destination-content .col-content{
    position: relative;
}

.destination .destination-content .col-content img{
    width:100%;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(80%);
    transition: all .3s cubic-bezier(.495,.05,.55,.95);
    will-change: filter;
}

.destination .destination-content .col-content h5{
    position: absolute;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
    left: 15px;
    bottom: 60px;
}

.destination .destination-content .col-content p{
    position: absolute;
    font-size: 15px;
    color: #fff;
    left: 15px;
    bottom: 30px;
    letter-spacing: 2px;
}

.destination .destination-content .col-content img:hover{
    filter: brightness(100%) hue-rotate(45deg);
    transform: scale(1.04);
    cursor: pointer;
}


/* Footer */
footer{
    background-color: #fff;
}

.footer-title {
    color: rgb(126, 245, 58);
    margin-top: 10px;
    margin-bottom: 10Px;
    font-size: 20px;
}

.footer-description {
    color: rgb(110, 108, 108);
    font-size: 16px;
}

.footer-description .footer-list {
    margin-bottom: 5px;
}

.footer-link {
    text-decoration: none;
    font-size: 17px;
    color: rgb(110, 108, 108);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.footer-link:hover {
    color: rgb(126, 245, 58);
}


.footer-form {
    margin-top: 20px;
}

.footer-form form {
    display: flex;
}

.footer-form .form-group label {
    display: none;
}

.footer-form .form-group input {
    padding: 10px;
    border: 2px solid rgb(241, 96, 38);
    outline: none;
    border-radius: 0;
}


.footer-form .footer-submit button {
    display: inline-block;
    width: 120px;
    height: 100%;
    border: none;
    background-color: rgb(241, 96, 38);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.footer-form .footer-submit button:hover {
    background-color: rgb(207, 64, 7);
}


.copyright {
    margin-top: 20px;
    text-align: center;
}

.copyright p {
    font-size: 14px;
}

/* Espaces authentification */
.auth-a{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.auth-a .content{
    max-width: 500px;
    width: 95%;
}

.auth-a .content h3{
    font-size: 38px;
    text-align: center;
    margin-bottom: 40px;
}

.auth-a .content .form-auth{
    display: block;
    padding: 15px 20px;
    background: #fff;
    border-radius: 15px;
}

.auth-a .content .form-auth h5{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.auth-a .content .form-auth .form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.auth-a .content .form-auth .form-group label{
    margin-bottom: 10px;
    font-size: 17px;
}

.auth-a .content .form-auth .form-group input{
    border: 2px solid rgb(111, 253, 106);
    border-radius: 10px;
    height: 45px;
    font-size: 17px;
    padding: 10px 15px;
    outline: none;
}

.auth-a .content .form-auth .forgot-pwd{
    text-align: end;
    margin-bottom: 20px;
}

.auth-a .content .form-auth .forgot-pwd a{
    text-decoration: none;
    color: #363232;
    font-size: 16px;
}

.auth-a .content .form-auth .forgot-pwd a:hover{
    text-decoration: underline;
}

.auth-a .content .form-auth .form-submit{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.auth-a .content .form-auth .form-submit button{
    width: 50%;
    padding: 10px 20px;
    border: none;
    background-color: rgba(111, 253, 106, 0.616);
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    color: rgb(4, 73, 2);
}

.auth-a .content .form-auth .signup-link{
    text-align: center;
}

.auth-a .content .form-auth .signup-link a{
    color: rgb(16, 108, 245);
    font-weight: 600;
}

.auth-a .content .form-auth .user_pic{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.auth-a .content .form-auth .user_pic img{
    width: 150px;
    height: 150px;
    border: 2px solid rgba(16, 108, 245, 0.521);
    padding: 5px;
    border-radius: 50%;

}

.auth-a .content .form-auth .user_pic label{
    position: absolute;
    font-size: 30px;
    background-color: #ccc;
    padding: 10px ;
    border-radius: 50%;
    color: rgb(255, 254, 254);
    opacity: .6;
    /* bottom: -15px;
    right: 150px; */
}


.auth-a .content .form-auth .user_pic input{
    display: none;
}

/* Contact */
.contact .title {
    font-size: 28px;
    font-weight: 600;
    color: rgb(241, 96, 38);
}

.contact .description {
    font-size: 15px;
    color: rgb(26, 25, 25);
    margin-bottom: 20px;
}

.form-contact {
    margin-top: 10px;
}

.form-contact .form-group label {
    display: none;
}

.form-contact .form-group textarea,
.form-contact .form-group input[type=tel],
.form-contact .form-group input[type=email],
.form-contact .form-group input[type=text] {
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    resize: none;
}

.form-contact .form-group-check {
    margin-left: 20px;
}

.form-contact .form-group-check label {
    font-size: 15px;
    font-weight: 600;
    color: #221414;
}

.form-contact .form-submit button {
    display: inline-block;
    width: 200px;
    height: 50px;
    border: none;
    background-color: rgb(241, 96, 38);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
}

.form-contact .form-submit button:hover {
    background-color: rgb(207, 64, 7);
}


.address .min-title {
    font-size: 20px;
    color: rgb(241, 96, 38);
}

.address .min-desc {
    font-size: 16px;
}

/* About-us home */

.about-us {
    margin-top: 30px;
}

.about-us .title {
    text-align: center;
    font-size: 28px;
    color: rgb(241, 96, 38);
}

.about-us .description {
    text-align: center;
    margin-top: 15px;
}


/* FAQs */
.faqs {
    margin-top: 20px;
    margin-bottom: 20px;
}

.faqs .title {
    text-align: center;
    font-size: 28px;
    color: rgb(241, 96, 38);
}

.faqs .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.faqs .img img {
    width: 300px;
    height: 300px;
}

/* Banns */

.about-us .title,
.main .title,
.faqs .title {
    padding: 15px 30px;
    background-color: #fff;
}



/* Modif */
.accordion-button-zoe:not(.collapsed) {
    color: rgb(241, 96, 38) !important;
    background-color: rgba(247, 162, 128, 0.411) !important;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

.accordion-button:focus {
    border-color: rgb(241, 96, 38) !important;
    box-shadow: 0 0 0 .25rem rgba(241, 96, 38, 0.438);
}

/* Button */
.btn-zoe-link {
    padding: 10px 20px;
    background-color: rgb(241, 96, 38);
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
}

.btn-zoe-link:hover {
    padding: 10px 20px;
    background-color: rgb(163, 60, 19);
    border-radius: 10px;
    color: #fff;
    font-weight: 500;
}

/* User dashboard */

.user-dash {
    padding: 15px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

.user-dash .user-profil {
    border-bottom: 2px solid rgba(235, 232, 232, 0.89);
    margin-bottom: 15px;
}

.user-dash .user-profil .img-profil {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-dash .user-profil .img-profil img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 4px solid rgba(250, 145, 103, 0.61);
}

.user-dash .user-profil .info {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 30px;
}

.user-dash .user-profil .info .top-info {
    border-bottom: 2px solid rgba(235, 232, 232, 0.89);
    margin-bottom: 15px;
}

.user-dash .user-profil .info .top-info h5 {
    font-weight: 500;
}

.user-dash .user-profil .info .bottom-info {
    display: flex;
    justify-content: space-between;
}

.user-dash .user-profil .info .bottom-info .nbr-info {
    text-align: center;
    width: 100%;
    border-right: 2px solid rgba(235, 232, 232, 0.89);
    display: flex;
    flex-direction: column;
}

.user-dash .user-profil .info .bottom-info .nbr-info b {
    display: block;
    width: 100%;
    font-size: 14px;
    color: rgb(126, 245, 58);
}

.user-dash .user-profil .info .bottom-info .nbr-info span {
    display: block;
    width: 100%;
    color: #4b4d67;
    font-size: 11px;
    opacity: .8;
    overflow: hidden;
    text-transform: uppercase;
}

.user-dash .user-profil .info .bottom-info .btn-change-pwd {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.user-dash .user-profil .info .bottom-info .btn-change-pwd button {
    border: none;
    outline: none;
    padding: 10px 10px;
    background-color: rgb(91, 211, 22);
    color: #fff;
    font-size: 14px;
}

.user-dash .user-profil .info .bottom-info .btn-change-pwd button:hover {
    background-color: rgb(66, 153, 15);
}

.user-dash .user-historique .title {
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
}

.user-dash .user-historique .title h3 {
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(235, 232, 232, 0.89);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    color: rgb(241, 96, 38);
}

/*-----------------
	2. Table
-----------------------*/

.table-responsive {
    white-space: nowrap;
    width: 100%;
}

.table {
    color: #333;
}

.table.table-white {
    background-color: #fff;
}

.table thead th {
    font-weight: 500;
    letter-spacing: 0.05em;
}

.table-striped>tbody>tr:nth-of-type(2n+1) {
    background-color: #f6f6f6;
}

table.table td h2 {
    display: inline-block;
    font-size: inherit;
    font-weight: 400;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

table.table td h2.table-avatar {
    align-items: center;
    display: inline-flex;
    font-size: inherit;
    font-weight: 400;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
}

table.table td h2.table-avatar.blue-link a {
    color: #007bff;
}

table.table td h2 a {
    color: #333;
}

table.table td h2 a:hover {
    color: #f43b48;
}

table.table td h2 span {
    color: #888;
    display: block;
    font-size: 12px;
    margin-top: 3px;
}

table.dataTable {
    margin-bottom: 15px !important;
    margin-top: 15px !important;
}

.table-nowrap td,
.table-nowrap th {
    white-space: nowrap
}

.table-hover tbody tr:hover {
    background-color: #f7f7f7;
    color: #212529;
}

table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting {
    padding-right: 30px !important;
}

.table.custom-table>tbody>tr>td,
.table.custom-table>tbody>tr>th,
.table.custom-table>tfoot>tr>td,
.table.custom-table>tfoot>tr>th,
.table.custom-table>thead>tr>td,
.table.custom-table>thead>tr>th {
    padding: 10px 20px !important;
}

.page-item.active .page-link {
    background-color: rgb(241, 96, 38);
    border-color: rgb(241, 96, 38);
}

@media (max-width: 768px){
    .user-dash .user-profil .info{
        padding-top: 0;
    }

    .user-dash .user-profil .info .bottom-info .nbr-info.last {
        border-right: none;
    }

}

